<body>
<div  id="boxLogin">
<h1>QR App</h1>
<h2>Login</h2>

  <div id="inputs">
    <ion-item class="cajas">
      <ion-input
        [(ngModel)]="user"
        label="Usuario"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-item class="cajas">
      <ion-input
        labelPlacement="floating"
        [(ngModel)]="pass"
        label="Contraseña"
        type="password"

      ></ion-input>

    </ion-item>


    <!-- <ion-toggle>Profesor</ion-toggle><br /><br /> -->

    <ion-radio-group value="type" [(ngModel)]="type" id="tipo" class="cajas">
      <ion-radio  value="Estudiante" class="opcion">Estudiante <ion-icon class="icons" name="body-outline"></ion-icon></ion-radio>
      <ion-radio   value="Profesor" class="opcion">Profesor <ion-icon  class="icons" name="school-outline"></ion-icon></ion-radio>
    </ion-radio-group>
  <div id="botn">

    <ion-button (click)="IniciarSesion()" >Inciar sesion</ion-button>
  </div>
  </div>
</div>
</body>
 <!-- helperText="Ayuda" para recuperar contraseña -->
