/* Estilos generales para centrar todo en el medio de la pantalla */
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  font-family: Arial, sans-serif;
}

#boxLogin {
  background-color: #1b1b1b;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin:auto;
  vertical-align: middle;
}

/* Estilos para que los inputs se adapten bien dentro del cuadrado */
#inputs ion-item {
  margin-bottom: 15px;
}
#tipo{

}
.opcion{
  padding: 0.75rem;
}
.icons{
   font-size: 1.2rem;
   justify-items: center;
   justify-content: center;
  display: flex;
   align-self: center;
}
#inputs ion-input {
  width: 100%;
}

/* Estilos del botón */
ion-button {
  width: 100%;
}

/* Hacer que los textos H1 y H3 luzcan bien */
h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  #boxLogin {
    width: 400px; /* Establece un ancho fijo en pantallas más grandes */
  }
}
