<div class="container">
  <h1>Clases</h1>
  <div *ngIf="user">
    <p>Aquí están las clases disponibles:</p>
    <div *ngIf="userType === 'docente'">
      <p>Horario del docente:</p>
      <!-- Contenido específico para el docente -->
    </div>
    <div *ngIf="userType === 'alumno'">
      <p>Horario del alumno:</p>
      <!-- Contenido específico para el alumno -->
    </div>
  </div>

  <div *ngIf="!user">
    <p>Por favor, inicia sesión para ver las clases.</p>
  </div>
</div>

<!-- Contenedor scrollable para la imagen del horario -->
<div class="horario-container">
  <img src="assets/img/Horario.png" alt="Horario de clases" class="horario-imagen">
</div>

<app-nav-bar></app-nav-bar>
