/* Estilos generales para centrar todo en el medio de la pantalla */
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  font-family: Arial, sans-serif;
  color: #f1f3ef;
  text-shadow: #86aa5e 3px 2px 3px;
}
ion-input {
  padding-top: 5px;
  --background: #292929;
  --highlight-color-valid:#ffffff;

}
ion-item {
  padding: 5px;
  --background: #292929;
}


#logo {
  position: absolute;
  top: 50%; /* Alinea verticalmente la imagen */
  left: 50%; /* Alinea horizontalmente la imagen */
  transform: translate(-50%,-50%); /* Ajusta para centrar la imagen completamente */
  z-index: -1; /* Envía la imagen detrás del texto */
  opacity: 0.6; /* Ajusta la opacidad para que el texto sea legible sobre la imagen */
  width: 109px; /* Ajusta el tamaño de la imagen según sea necesario */
}
h3 {
  padding-top: 20px;
}
h1 {
  position: relative; /* Asegura que el texto esté por encima de la imagen */
}
#boxRecover {
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 1000000px 30px #b9c8a865;
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  animation: fadeInGrow 0.5s ease-in forwards; /* Duración de 2s */
}

/* Estilos para que los inputs se adapten bien dentro del cuadrado */
ion-item {
  margin: 5px;

  animation: fadeInGrow 0.9s ease-in forwards; /* Duración de 2s */
}
/* Estilos del botón */
ion-button {
  width: 75%;
  box-shadow: 0px 4, 5px 5px #ffffff;
  --background: #86aa5e;
  --border-color: ;
  color: white;
  animation: fadeInGrow 1s ease-in forwards; /* Duración de 2s */
  animation: radioExpand 2s ease-in;
  border-radius: 15px;
}
#botn {
  padding: 10px;
}
.cajas {
  animation: fadeInGrow 0.9s ease-in forwards; /* Duración de 2s */
  border-radius: 30px;
}
#MensajeFail {
  --background: #464646;
  z-index: 100000;
  --border-color: #464646;
  color: #f05024;
}
/* Hacer que los textos H1 y H3 luzcan bien */
h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  #boxLogin {
    width: 400px; /* Establece un ancho fijo en pantallas más grandes */
  }
}
/* Animaciones  */

@keyframes fadeInGrow {
  0% {
    opacity: 0.1; /* Comienza invisible */
  }
  100% {
    opacity: 1; /* Completamente visible */
  }
}

@keyframes radioExpand {
  0% {
    transform: scale(1);
    background-color: var(--color-unchecked);
  }
  50% {
    transform: scale(1.02);
    background-color: var(--color-checked);
  }
  100% {
    transform: scale(1);
    background-color: var(--color-checked);
  }
}
