<ion-content class="home-container">
  <h1>Bienvenido, {{ nombreUsuario }}</h1>

  <ng-container *ngIf="userType === 'docente'; else alumnoTemplate">
    <h2>Asignaturas a cargo:</h2>
    <ion-list>
      <ion-item *ngFor="let asignatura of asignaturasDocente">{{ asignatura }}</ion-item>
    </ion-list>
  </ng-container>

  <ng-template #alumnoTemplate>
    <h2>Asignaturas inscritas:</h2>
    <ion-list>
      <ion-item *ngFor="let asignatura of asignaturasAlumno">{{ asignatura }}</ion-item>
    </ion-list>
  </ng-template>
</ion-content>
<app-nav-bar></app-nav-bar>
