// Contenedor principal del Home
.home-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  color: #f1f3ef;
}

// Encabezado de bienvenida
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #86aa5e; // Verde para resaltar el saludo
}

// Encabezados de secciones
h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: #86aa5e;
}

// Lista de asignaturas
ion-list {
  background-color: #1d1d1d;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ion-item {
  color: #b9c8a8; // Texto gris claro
  font-size: 1.1rem;
  padding: 10px;
  border-bottom: 1px solid #86aa5e; // Línea divisoria verde
}

// Barra de navegación
app-nav-bar {
  margin-top: 20px;
}

// Estilo minimalista para texto
strong {
  color: #f1f3ef; // Texto blanco para resaltar
}

// Ajustes para pantallas más pequeñas
@media (max-width: 600px) {
  .home-container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  ion-item {
    font-size: 1rem;
  }
}
