<body>
  <div id="boxLogin">
    <div id="cajalogo">
      <h1>RegistrAPP<img src="assets/img/LogoBlack.png" id="logo" /></h1>
    </div>
    <h2>Login</h2>

    <div id="inputs">
      <ion-item class="cajas">
        <ion-input
          [(ngModel)]="user"
          label="Usuario"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item class="cajas">
        <ion-input
          labelPlacement="floating"
          [(ngModel)]="pass"
          label="Contraseña"
          type="password"
        ></ion-input>
      </ion-item>

      <div id="botn">
        <ion-button (click)="IniciarSesion(user, pass)">
          @if (isLoading) {
          <ion-spinner name="dots"></ion-spinner>
          }@else { Iniciar sesion }
        </ion-button>
        <ion-button routerLink="/register">Registrarse</ion-button>
      </div>
      <div *ngIf="loginFailed">
        <ion-item id="MensajeFail" [button]="true" routerLink="/recovery">
          Usuario o clave incorrectos Recuperar Contraseña? <ion-text color="tertiary"> Click aqui</ion-text>
        </ion-item>
      </div>
    </div>
  </div>
</body>
<!-- helperText="Ayuda" para recuperar contraseña -->
